Source: ros-kinetic-cob-helper-tools
Section: misc
Priority: extra
Maintainer: Felix Messmer <fxm@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-cob-helper-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cob-msgs, ros-kinetic-cob-script-server, ros-kinetic-diagnostic-msgs, ros-kinetic-rospy, ros-kinetic-tf, ros-kinetic-visualization-msgs
Description: Helper scripts for Care-O-bot
